<div class="row mb-5">

  <div *ngIf="this.deuErro.verificador" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
    <i class="bi bi-exclamation-circle-fill" style="margin-right: 5px;"></i>
    <div>
         {{this.deuErro.mansagem}}
    </div>
  </div>

    <div class="col-2 d-flex justify-content-end align-items-center mb-5">
        <a routerLink="/painel-inicial" class="h5 fonte-padrao botao-voltar"><i class="bi bi-arrow-90deg-left"></i> Voltar</a>
    </div>
    <div class="col-10 d-flex justify-content-center align-items-center mb-5">
        <p style="margin-left: -18%;" class="display-6 fonte-padrao">Agendar consulta</p>
    </div>

    <div class="col-3"></div>
    <div class="col-6">
        <form action="">

          <div class="card p-3 mb-3">
            <h1 class="card-title">
              Dados do paciente
            </h1>

            <div>
              <label class="form-label" for="nome">Buscar paciente:</label>
              <div class="input-group mb-3">
                  <input class="form-control inputs" [(ngModel)]="this.valorNomePaciente" placeholder="ex: Oswaldo Cruz" type="text" name="Nome" id="nome">
                  <button class="btn btn-outline-secondary" type="button" (click)="this.buscarPaciente()" id="button-addon2">Buscar</button>
              </div>
              <table *ngIf="this.mostrarBuscaPacientes" class="table">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Nome</th>
                      <th scope="col">CPF</th>
                      <th scope="col">E-MAIL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let paciente of this.listaPacientes">
                      <th scope="row"><input type="radio" name="radioPaciente" id="radioPaciente" (click)="this.selecionar(1, paciente)"></th>
                      <td>{{paciente.nome}}</td>
                      <td>{{paciente.cpf}}</td>
                      <td>{{paciente.email}}</td>
                    </tr>
                    <tr *ngIf="this.listaPacientes.length === 0">
                      <td colspan="4">
                          <p>Nenhum paciente encontrado</p>
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>


            <div *ngIf="this.pacienteSelecionado">
                <label for="nomePaciente">Nome do paciente:</label>
                <p class="lead"><strong>{{this.pacienteSelecionado.nome}}</strong></p>
            </div>

          </div>

            
          <div class="card p-3 mb-3">
            <h1 class="card-title">
              Dados do médico
            </h1>

            <div *ngIf="this.verificadorUsuario !== '0'">
              <label class="form-label" for="nome">Buscar médico:</label>
              <div class="input-group mb-3">
                  <input class="form-control inputs" [(ngModel)]="this.valorNomeMedico" type="text" name="Nome" id="nome">
                  <button class="btn btn-outline-secondary" type="button" (click)="this.buscarMedico()" id="button-addon2">Buscar</button>
              </div>
              <table *ngIf="this.mostrarBuscaMedicos" class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Nome</th>
                      <th scope="col">CPF</th>
                      <th scope="col">E-MAIL</th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr *ngFor="let medico of this.listaMedicos">
                      <th scope="row"><input type="radio" name="radioPaciente" id="radioPaciente" (click)="this.selecionar(2, medico)"></th>
                      <td>{{medico.nome}}</td>
                      <td>{{medico.cpf}}</td>
                      <td>{{medico.email}}</td>
                    </tr>
                    <tr *ngIf="this.listaMedicos.length === 0">
                      <td colspan="4">
                          <p>Nenhum paciente encontrado</p>
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>

            <div *ngIf="this.medicoSelecionado ">
                <label for="nomeMedico">Nome do médico</label>
                <p class="lead"><strong>{{this.medicoSelecionado.nome}}</strong></p>
            </div>
          </div>

            
            <div class="mb-3">
                <label class="form-label" for="data">Data do agendamento:</label>
                <input class="form-control inputs" value="2018-07-22" [(ngModel)]="this.valorData" type="date" name="Data" id="data">
            </div>
            <div>
              <label class="form-label" for="hora">Horário do agendamento:</label>
              <input id="hora" class="form-control inputs" type="time" [(ngModel)]="this.valorHora" name="hora">
            </div>
            <div class="mb-3">
                <label class="form-label" for="descricao">Descrição: (opcional)</label>
                <br>
                <textarea class="form-control inputs" placeholder="Digite uma descrição" [(ngModel)]="this.valorDescricao" name="descricao" id="descricao" cols="30" rows="6"></textarea>
            </div>

            <section class="d-flex justify-content-end col-12 mb-4">
              <section class="row">
                  <section class="col-12">
                    <button class="btn botao-primario" (click)="this.cadastrarAgendamento()">Agendar consulta</button>
                  </section>
                </section>
              </section>

        </form>
    </div>
    <div class="col-3"></div>
</div>

