<section class="tela-Login">

  <section *ngIf="this.deuErro" class="alert alert-danger d-flex align-items-center" role="alert">
    <section>
      E-mail ou senha incorretos. <br /> Por favor, tente novamente.
    </section>
  </section>

  <section *ngIf="this.erroNPermitido" class="alert alert-danger d-flex align-items-center" role="alert">
    <section>
      Login de pacientes não permitidos.
    </section>
  </section>

  <section class="row login d-flex justify-content-center align-items-center">
    <section class="background">
      <div class="frase-background">
        <p class="display-6">Faça o que poucos fazem e conquiste aquilo que muitos querem.</p>
        <img src="https://i.postimg.cc/76JknY5b/KLINIK-2-removebg-preview.png" alt="logo-1">
      </div>
    </section>
    <section style="max-width: 300px; margin: auto;">
      <form>

        <div class="row">

          <div class="col-12">
            <section class="text-center">
              <img src="https://i.postimg.cc/0j1CXcyD/KLINIK.png" height="200" alt="Projeto Logo">
            </section>
          </div>

          <h1 class="text-center mt-3">Entrar</h1>

          <div class="col-12">
            <label class="sr-only" for="emailAddress" style="margin: 5px">Login:</label>
            <input required type="email" class="form-control mb-3 inputs" placeholder="Endereço de e-mail" id="emailAddress"
              name="email" [(ngModel)]="this.valorEmail">
          </div>

          <div class="col-12">
            <label class="sr-only mb-1" for="password" style="margin: 5px">Senha:</label>
            <input required type="password" class="form-control inputs" placeholder="Insira sua senha" id="password" name="senha"
              [(ngModel)]="this.valorSenha">
          </div>

        </div>


        <section class="text-center mt-4">
          <button (click)="fazerLogin()" type="button" class="btn btn-lg botao-primario mb-3">Fazer login</button>
        </section>
      </form>

      <p class="text-center">Não tem uma conta? <a data-toggle="tab" [href]="['cadastro-usuario']">Registrar-se</a></p>

    </section>
  </section>
</section>

