body, input, h4, h5, h6, label, p, a{
  font-family: 'Montserrat', sans-serif !important;
}

mat-card {
  width: 60%;
  margin: auto;
  padding: 2rem;
}

mat-form-field {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 13px;
}

input {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
}

.nome {
  margin-top: 3%;
}

.cpf {
  width: 36%;
}

.idade {
  margin-left: 4%;
  margin-right: 4%;
  width: 16%;
  text-align: left;
}

.tipo {
  width: 40%;
}

.contato {
  margin-left: 6%;
  margin-right: 6%;
  width: 41%;
}

.crm {
  width: 41%;
  margin-right: 6%;
}

.email {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 1%;
  width: 85%;
}

.senha {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.botao {
  font-size: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.5%;
  margin-bottom: 10%;
}
