<div *ngIf="this.deuErro.verificador" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
  <i class="bi bi-exclamation-circle-fill" style="margin-right: 5px;"></i>
  <div>
       {{this.deuErro.mansagem}}
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <p class="display-6 m-3 fonte-padrao">Cadastro de funcionário</p>
  </div>
</div>

<mat-card>
  
  <form [formGroup]="form" (submit)="onCadastrarUsuario()">
    
    <div class="row">

      <div class="col-12 mb-3">
        <section *ngIf="this.erroSenha" class="alert alert-danger d-flex align-items-center" role="alert">
          <section>
            Senhas não coincidem. Digite-as corretamente.
          </section>
        </section>
      </div>

      <div class="col-12 mb-3">
          <label class="form-label" for="nome">Nome Completo:</label>
          <input required pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ'\s]+$" minlength="2" type="text"
            class="form-control inputs" placeholder="ex: Adolfo Lutz" formControlName="nome" name="nome">
      </div>

      <div class="col-6 mb-3">
          <label class="form-label" for="nome">Informe seu CPF:</label>
          <input required minlength="14" maxlength="14" type="text"  placeholder="ex: 123.456.789-10"
            formControlName="cpf" class="form-control inputs" name="cpf" [(ngModel)]="this.valorCpf" (keypress)="this.formatarCpf()">
          
      </div>

      <div class="col-6 mb-3">
          <label class="form-label" for="nome">Idade:</label>
          <input required pattern="[0-9]+" minlength="2" maxlength="2" type="text"  placeholder="Idade"
            formControlName="idade" class="form-control inputs" name="idade">
      </div>

      <div class="col-12 mb-3">

        <label class="form-label" for="nome">Tipo de usuario:</label>
        <select name="tipoUsuario" formControlName="tipoUsuario" id="tipoUsuario" class="form-control inputs">
          <option value="0">Selecione o tipo de usuário</option>
          <option *ngFor="let usuario of usuarios" [value]="usuario.value">{{usuario.viewValue}}</option>
        </select>
      </div>

      <div class="col-6 mb-3">
          <label class="form-label" for="nome">Contato:</label>
          <input pattern="[0-9\s-()+]+" minlength="8" maxlength="19" type="text"  placeholder="ex: 11 91234-5678"
            formControlName="contato" class="form-control inputs" name="contato">
      </div>

      <div class="col-6 mb-3">
          <label class="form-label" for="nome">Registro CRM-SP:</label>
          <input pattern="[aA-zZ0-9\s/]+" maxlength="13" type="text" maxlength="6"  placeholder="ex: CRM/SP 123456"
            formControlName="crm" class="form-control inputs" name="crm">
      </div>

      <div class="col-12 mb-3">
          <label class="form-label" for="nome">Digite um e-mail (será usado no login):</label>
          <input required pattern="^[aA-zZ0-9._%+-]+@[aA-zZ0-9.-]+[aA-zZ]{2,4}" type="email"  placeholder="E-mail"
            formControlName="email" class="form-control inputs" name="email">
      </div>

      <div class="col-12 mb-3">
          <label class="form-label" for="nome">Senha:</label>
          <input required pattern="[aA-zZ0-9()-=@!#$%&*?]+" type="password"  placeholder="Insira sua senha"
            formControlName="senha" class="form-control inputs" name="password">
      </div>

      <div class="col-12 mb-3">
          <label class="form-label" for="nome">Confirme sua senha:</label>
          <input required pattern="[aA-zZ0-9()-=@!#$%&*?]+" type="password"  placeholder="Confirme sua senha"
            formControlName="confirmarSenha" class="form-control inputs" name="confirmarSenha">
      </div>
    </div>

    <button class="botao mb-3" mat-raised-button color="warn">Cadastrar</button>
    <p class="text-center">Já tem uma conta? <a data-toggle="tab" [href]="['login']">Fazer login</a></p>
  </form>
</mat-card>