<nav class="navbar navbar-expand-lg bg-light">
  <div class="container ">
    <a [routerLink]="['/painel-inicial']" class="navbar-brand">
      <img src="https://i.postimg.cc/WbHxXPPk/KLINIK-removebg-preview-cut.png" height="40" alt="Projeto Logo">
    </a>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
