body, input, h4, h5, h6, label, p, a, strong{
    font-family: 'Montserrat', sans-serif !important;
}

.painel-inicial{
    margin: 10px;
}

.painel-agendamento{
    /* background-color: rgb(76, 183, 233); */
    border-radius: 7px;
    box-shadow: none;
    /* color: white !important; */
    padding: 10px;
    width: 100%;
}

.painel-agendamento p {
    margin: 0;
}

.calendario{
    background-color: rgb(76, 183, 233);
    width: 65%;
    box-shadow: none;
    padding: 0;
}


.botao-cadastro{
    border-color: rgba(238, 108, 77, 1);
    color: rgba(238, 108, 77, 1);
    margin: 10px;
    padding: 25px 65px;
    font-size: 25px;
    font-weight: 650;
    width: 65%;
}

.botao-cadastro:hover{
    background-color: rgba(238, 108, 77, 1);
    border-color: rgba(41, 50, 65, 1);
    color: rgba(41, 50, 65, 1);
}