<div class="painel-inicial">

    <h2 class="fonte-padrao fw-bold">Bem Vindo, {{nomeUsuario}}</h2>
    
    <div class="row">
        <div class="col-12 col-md-6 card">
            <div class="card-body">
                <h5 class="fs-6 fw-bold fonte-padrao">
                    Próximas Consultas
                </h5>
                <div class="painel-agendamento d-flex justify-content-center">
                    <mat-card class="demo-inline-calendar-card calendario">
                        <mat-calendar [(selected)]="selected" [minDate]="minDate" (selectedChange)="this.pesquisarConsulta(this.dataHoje)"></mat-calendar>
                    </mat-card>
                </div>
                <ul *ngIf="!this.mostrarVazio" class="list-group list-group-flush mt-2">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Paciente</strong>
                        <strong class="mr-4">Ação</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let consulta of consultas">
                        {{consulta.nome}}
                        <button class="btn btn-outline-secondary" [routerLink]="['/detalhe-consulta', consulta._id]">Consultar</button>
                    </li>
                </ul>
                <ul *ngIf="this.mostrarVazio" class="list-group list-group-flush mt-2">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Paciente</strong>
                        <strong class="mr-4">Ação</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-center align-items-center bg-light">
                        Nenhuma consulta agendada
                    </li>
                </ul>
            </div>
        </div> 
        
        <div class="col-12 col-md-6 ">
            <button routerLink="/cadastro-consulta" class="btn btn-outline-primary">Agendar consulta</button>
        </div> 
    </div>
</div>
